<div class="comtainer">
<div class="jumbtron">
<h1>Eat-da-Burger</h1>
<small>Where you can customize a digital sandwhich, order it, and then NOM, NOM, NOM/</small>
</div>
</div>
<!-- <h2>Burgers waiting to be consumed</h2>

<ul>
  {{#each burgers}}
    {{#unless this.consumed}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="true">
          <button type="submit">Devour Me</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Inside Your Digital Stomach</h2>

<ul>
  {{#each cats}}
    {{#if this.consumed}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="consumed" value="false">
          <button type="submit">Defecate</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Prepare a BURGER</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Ready to Eat?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Consumed!<br>
    <input type="radio" name="sleepy" value="0"> Prepared and Ready to eat!
  </div>

  <button type="submit">Prepare a Burger</button>
</form> -->
